<div class="password-main" nz-row nz-flex nzJustify="center">
  <div
    class="change-pass-box"
    nz-col
    [nzXs]="24"
    [nzSm]="20"
    [nzMd]="18"
    [nzLg]="15"
    [nzXl]="12"
    [nzXXl]="8"
  >
    <nz-ribbon nzColor="purple" nzText="تغییر رمز عبور">
      <div class="main-box">
        @if (user.needToChangePassword) {
          <nz-alert
            nzType="warning"
            class="mb-4"
            nzShowIcon
            nzMessage="برای دسترسی به سایر منوها، تغییر پسورد الزامیست."
          ></nz-alert>
        }
        <form nz-form [formGroup]="validateForm">
          <nz-form-item nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="24">
              <nz-form-label [nzSpan]="24" nzRequired nzNoColon>
                رمزعبور فعلی</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="currentPassword">
                <nz-input-group [nzAddOnAfter]="lockIconCurrentPassword">
                  <input
                    [type]="showCurrentPass ? 'text' : 'password'"
                    nz-input
                    formControlName="currentPassword"
                    placeholder="رمز عبور فعلی خود را وارد نمایید"
                  />
                  <ng-template #lockIconCurrentPassword>
                    <i
                      class="show-password"
                      nz-icon
                      [nzType]="showCurrentPass ? 'eye' : 'eye-invisible'"
                      nzTheme="outline"
                      (click)="showPassword('currentPassword')"
                    ></i>
                  </ng-template>
                </nz-input-group>

                <ng-template #currentPassword let-control>
                  @if (validateForm.controls["currentPassword"].value) {
                    رمز وارد شده صحیح نمی باشد.
                  }
                  @if (control.errors?.["required"]) {
                    رمزعبور فعلی الزامیست!
                  }
                </ng-template>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="24">
              <nz-form-label [nzSpan]="24" nzRequired nzNoColon>
                رمزعبور جدید</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="newPasswordErrors">
                <nz-input-group [nzAddOnAfter]="lockIconNewPassword">
                  <input
                    [type]="showNewPass ? 'text' : 'password'"
                    nz-input
                    formControlName="newPassword"
                    placeholder="رمز عبور جدید خود را وارد نمایید"
                  />
                  <ng-template #lockIconNewPassword>
                    <i
                      class="show-password"
                      nz-icon
                      [nzType]="showNewPass ? 'eye' : 'eye-invisible'"
                      nzTheme="outline"
                      (click)="showPassword('newPassword')"
                    ></i>
                  </ng-template>
                </nz-input-group>

                <ng-template #newPasswordErrors let-control>
                  @if (control.errors?.["pattern"]) {
                    رمز عبور باید شامل بیش از 8 کارکتر , 1 حرف بزرگ , 1 حرف کوچک
                    و یک کارکتر ویژه باشد!
                  }
                  @if (control.errors?.["required"]) {
                    رمزعبور جدید الزامیست!
                  }
                </ng-template>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="24">
              <nz-form-label [nzSpan]="24" nzRequired nzNoColon>
                تکرار رمزعبور جدید</nz-form-label
              >
              <nz-form-control
                [nzSpan]="24"
                [nzErrorTip]="confirmPasswordErrors"
              >
                <nz-input-group [nzAddOnAfter]="lockIconConfirmPassword">
                  <input
                    [type]="showConfirmNewPass ? 'text' : 'password'"
                    nz-input
                    formControlName="confirmPassword"
                    placeholder="رمز عبور جدید را تکرار نمایید"
                  />
                  <ng-template #lockIconConfirmPassword>
                    <i
                      class="show-password"
                      nz-icon
                      [nzType]="showConfirmNewPass ? 'eye' : 'eye-invisible'"
                      nzTheme="outline"
                      (click)="showPassword('confirmPassword')"
                    ></i>
                  </ng-template>
                </nz-input-group>

                <ng-template #confirmPasswordErrors let-control>
                  @if (control.errors?.["confirmedValidator"]) {
                    تایید رمز عبور مطابقت ندارد!
                  }
                </ng-template>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item nz-row>
            <nz-form-control class="action-container">
              <button
                nz-button
                nzType="primary"
                (click)="submit(validateForm)"
                [nzLoading]="loading"
              >
                ثبت
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </nz-ribbon>
  </div>
</div>
