.password-main {
  height: 100%;
  align-items: center;
}

.change-pass-box {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.main-box {
  width: 100%;
  height: 100%;
  padding: 110px 30px;
}

@media all and (max-width: 376px) {
  .main-box {
    padding: 110px 10px;
  }
}

.ant-input-group {
  .ant-input {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .ant-input-group-addon {
    &:last-child {
      border-bottom-left-radius: 5px !important;
      border-top-left-radius: 5px !important;
    }

    span {
      color: #787d7d !important;
    }
  }
}
