@if (productSpecs.length) {
  <div class="table_container table-spec">
    <nz-table #nestedTable [nzData]="productSpecs" [nzPageSize]="10">
      <thead>
        <tr class="custom-head-row">
          <th [nzWidth]="'100px'"></th>
          <th>نام گروه</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
          <tr class="custom-body-row">
            <td [(nzExpand)]="data.expand"></td>
            <td>{{ data.groupName }}</td>
          </tr>
          <tr [nzExpand]="data.expand">
            <td colspan="3" class="nested-td" style="background-color: #fbfbfb">
              <nz-table
                #innerTable
                [nzData]="data.productSpecifications"
                nzSize="middle"
                [nzShowPagination]="false"
                class="nested-table"
              >
                <thead>
                  <tr>
                    <th colspan="3">مشخصات</th>
                  </tr>
                  <tr>
                    <th>عنوان</th>
                    <th>مقدار</th>
                    <th>مشخصه اصلی</th>
                  </tr>
                </thead>
                <tbody class="nested-tbody">
                  @for (data of innerTable.data; track data) {
                    <tr>
                      <td>{{ data.key }}</td>
                      <td>{{ data.value }}</td>
                      <td>
                        @if (data.isSpecial) {
                          <span
                            nz-icon
                            nzType="check"
                            nzTheme="outline"
                            class="text-success"
                            style="font-size: 17px"
                          ></span>
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </nz-table>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
} @else {
  <nz-empty nzNotFoundImage="simple"></nz-empty>
}
