.spec-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      background-color: lighten(#f6f6f6, 2%);
      border: 1px solid #ab67d3;
    }

    .ant-collapse-header:not(:first-child) {
      border-top: 0 !important;
    }
  }
}

.spec-card-header {
  .ant-card-head {
    background-color: #e9f9f0;
    border: 1px solid #58d78f;
    color: #046e31;
    font-weight: bold;
    font-size: medium;

    .ant-card-head-title {
      text-align: center;
    }

    .ant-card-body {
      font-size: small;
    }
  }
}

.table_container.table-spec {
  width: 80%;
  margin: 0 auto;
  height: 85%;
  min-height: 50%;
  max-height: 100%;

  .custom-head-row {
    th {
      padding: 16px;
      position: relative;
      color: #000000d9;
      font-weight: 500;
      text-align: center;
      background: #fafafa;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
      transition: background 0.3s ease;
    }
  }

  .custom-body-row {
    &:hover {
      background: #fafafa;
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      position: relative;
      padding: 16px;
      overflow-wrap: break-word;
      font-weight: bold;
    }
  }

  .ant-table-tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    transition: background 0.3s;
  }

  td,
  th {
    text-align: center;
  }
}

.nested-table {
  thead {
    tr:first-child {
      th {
        background-color: #dfddf1 !important;
      }
    }

    th {
      padding: 12px 8px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    th:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
      ):not([colspan]):before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 1.6em;
      background-color: #0000000f;
      transform: translateY(-50%);
      transition: background-color 0.3s;
      content: "";
    }
  }

  .nested-tbody {
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      padding: 12px 8px !important;

      .anticon {
        cursor: pointer;
      }
    }
  }

  table {
    tr {
      th {
        position: relative;
        color: #000000d9;
        font-weight: 500;
        text-align: center;
        background: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
      }
    }
  }
}

.table-operation {
  .anticon {
    cursor: pointer;
  }
}
