.page-users-view .users-view-image {
  width: 100px;
}
.page-users-view table td {
  padding-bottom: 0.8rem;
  min-width: 130px;
  word-break: break-word;
}
td {
  line-height: 25px;
  font-size: 0.8rem;
}
.font-weight-bold {
  font-weight: 700 !important;
}
