<div class="tool-bar d-flex justify-content-end  mb-2">
  <button
    class="btn-export"
    nz-button
    nzType="default"
    (click)="export()">
    <span nz-icon nzType="file-excel" nzTheme="outline"></span>
    خروجی گرفتن از لیست
  </button>
</div>
<admin-billing-search></admin-billing-search>
<admin-qland-table
  [data]="listOfData"
  [tableColumns]="gridOptions"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [displayRowIndex]="true"
  [totalRecords]="total"
  (queryParamsChange)="onTableQueryParamsChange($event)"
  [showPagination]="true"
  [isServerSide]="true"
></admin-qland-table>
